<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
    <section>
        <div class="contenedor">

            <div class="imagenCimarc">
            </div>
            
            <div class="formulario">
                <div style="margin-top: -680px;">
                    <a class="button-share display-inline-block hover-button-black border-none text-white text-button pl-28 pr-28 pt-12 pb-12 bora-8" 
                        href="/" style="background-image: linear-gradient(to left, #29B6F6, #0288D1, #0066FF); 
                        border-radius: 30px; margin-left: -40px; " tabindex="0">Volver al home </a>
                </div>
                <form action="/iniciar-sesion" method="POST" style="margin-left: -110px;">
                 
                    <div>

                        <a href="/"><img src="assets/images/Cimarc.png" alt="" style="width: 60%;"></a>
                    </div>
                    <br>
                    <h2>Iniciar Sesi칩n</h2>
                    <div class="input-contenedor">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="userid" required>
                        <label >Usuario</label>
                    </div>
                    <div class="input-contenedor">
                        <i class="fa-solid fa-user"></i>
                        <input type="password" name="password" required>
                        <label >Contrase침a</label>
                    </div>
                    <div class="recordar">
                        <label for="#">
                            <input type="checkbox">Recordar la Contrase침a
                        </label>
                        <a href="/contrasena">Olvidaste tu contrase침a?</a>
                    </div>
                    <br>
                    <div class="button">
                        <input type="submit" class="btn btn1" value="Iniciar Sesion">
                    </div>
                    <br>
                    <div class="recordar">
                    <a href="/">Volver al Home</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>