<section>

	<div class="mega-titu-h1">
		<div class="container">
			<div class="row titulo-h1">
                <div class="col-lg-12 text-center">
                    <h1 class="custom-h1" style="color: #007BFF; margin-top: 112px; font-size: 2em;">
                      Términos y Condiciones
                    </h1>
                    <br class="mt-3 mt-lg-0"> <!-- Margen superior adicional solo en pantallas más pequeñas -->
                  </div>
                  
                    
			</div>
		</div>
	</div>

	<article>

		<div class="wrapper-cuerpo-interna">
			<div class="container">
				<div class="row cuerpo-interna">
                    <div class=" margin-right: 80px;">
					<div class="col-md-50 col-md-push-1">
						<div class="formato">
							<p><strong>I. Condiciones Generales</strong></p>
                            <br> 
<p>Los Términos y Condiciones de Uso describen todos los términos y condiciones de carácter general que resultan aplicables al uso de aquellos contenidos o servicios disponibles bajo el dominio y subdominios de <a href="https://www.pucp.edu.pe/">www.pucp.edu.pe</a>. Si el usuario no se encuentra de acuerdo con los Términos y condiciones generales de uso que a continuación se detallan, se le solicita que no haga uso, ni acceda, a la información ni a los servicios ofrecidos.El propósito principal de esta página web es brindar servicios vía Internet, así como información sobre los servicios que, en general, la PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ proporciona a postulantes, estudiantes o docentes y, en general, a la comunidad. Sin embargo, esta información no debe interpretarse como una oferta para vender o como un consejo de inversión de cualquier índole.Cuando el usuario accede a esta página web o cuando consulta la información que se encuentra contenida en ella, reconoce no sólo que ha leído, sino que también ha entendido y aceptado, los términos y condiciones generales que se desarrollan a continuación.</p>
<p>La PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ es una persona jurídica de derecho privado, que constituye una entidad autónoma, de conformidad a lo dispuesto por el artículo 3° de la Ley N.° 30220, Ley Universitaria, y que, de acuerdo a los principios reconocidos a las Universidades, brinda servicios de educación superior, promueve la investigación y se proyecta a la Comunidad a fin de contribuir al desarrollo nacional. Se rige por la Constitución Política del Perú, por la Ley Universitaria N.° 30220, por su Estatuto y por sus propios reglamentos.</p>
<p>El acceso y el uso de esta página web o de cualquier página recomendada, es bajo el propio riesgo del usuario, por lo que la PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ no asume ninguna obligación por tal conexión.</p>
<p>La titular de la página web se reserva el derecho de eliminar, a su sola voluntad, cualquier referencia o contenido.</p>
<p>Cuando el usuario accede a la página web se compromete, igualmente, a cumplir las pautas o recomendaciones establecidas de las otras páginas a las que accede a partir de una referencia o vínculo contenido en la página de la PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ.</p>
<br> 
<p><strong>II. Derechos de Autor</strong></p>
<br> 
<p>Esta página web se encuentra protegida por la normativa vigente sobre derechos de autor. Todos los derechos involucrados, como por ejemplo su contenido y su diseño visual, son de titularidad de la PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ, por lo que se encuentra estrictamente prohibido su empleo, modificación, reproducción, distribución, transmisión o comercialización de los derechos involucrados sin el permiso expreso y por escrito de la Universidad, salvo los casos de derechos de cita, empleo para finalidades educativas y los demás usos honrados reconocidos.</p>
<br> 
<p><strong>III. Derechos de Propiedad Intelectual</strong></p>
<br> 
<p>Todos los derechos de propiedad intelectual de la página web son de propiedad de la PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ. Se prohíbe el uso de cualquier derecho de propiedad intelectual sin contar con el consentimiento previo, expreso y por escrito de aquella.</p>
<br> <p><strong>IV. Uso de Datos Personales</strong></p><br> 
<p>Para utilizar algunos de los servicios alojados en esta página web será necesario que el usuario registre datos de carácter personal y brinde su consentimiento a la PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ (sito en Av. Universitaria N.° 1801, San Miguel, Lima, Perú) para el tratamiento de los mismos. Excepcionalmente, el tratamiento podrá realizarse por un tercero. En ambos casos, se garantiza la seguridad y confidencialidad de la información brindada. Las finalidades de cada tratamiento serán puestas en conocimiento del titular de los datos personales de manera previa e inequívoca.</p>
<p>La PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ se compromete a hacer uso de los datos personales en observancia de lo contemplado en la Ley N.° 29733, Ley de Protección de Datos Personales, y su reglamento. El usuario podrá ejercer los derechos reconocidos en las normas antes señaladas, de manera gratuita, remitiendo una comunicación al correo electrónico <a href="webmaster@pucp.pe.">webmaster@pucp.pe</a></p>
<p>El usuario deberá utilizar los servicios alojados en esta página web a través de los cuales puede acceder a datos personales de terceros, por ejemplo, el Directorio, en conformidad con los cuerpos normativos antes citados, siendo que, el uso de la información, sólo corresponderá a fines académicos. Ningún uso podrá estar dirigido a la creación de bases de datos o a la creación de listas de direcciones electrónicas para realizar envíos masivos. En cuyo caso, la Universidad adoptará las medidas legales correspondientes.</p>
<br> <p><strong>V. Delimitación de responsabilidad</strong></p><br> 
<p>La PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ realiza los mayores esfuerzos para brindar la más actualizada y exacta información en este sitio. Sin perjuicio de lo anterior, en algunas oportunidades puede incurrir en errores o en omisiones. En tales hipótesis la PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ no será responsable del daño, perjuicio directo, indirecto, incidental, consecuente o especial que se derive del uso de la información contenida en este sitio o de las páginas web aquí recomendados.Toda la información que es publicada en esta página web, la cual incluye, pero no se limita, a los gráficos, textos y referencias a otras páginas, se proporciona «como es» y está sujeta a posibles modificaciones sin aviso previo. La información a la que se hace referencia es proporcionada sin garantía de cualquier clase, expresa o implícita, incluyendo pero no limitándose a una garantía de negocios y similares o a encontrarse libre de todo virus de computación.La PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ no garantiza, en ningún caso, la suficiencia, exactitud e integridad de la información contenida en este sitio o en las páginas web recomendadas por lo que no asumirá ninguna clase de responsabilidad por los errores o las omisiones en las que pudiera incurrir. Los visitantes son enteramente responsables de verificar y evaluar la exactitud, integridad y la utilidad de cualquier información que se encuentre disponible desde esta página web.</p>
<p>La PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ no garantiza un servicio libre e interrumpido de esta página pero sí declara su voluntad de efectuar los esfuerzos que, dentro de lo razonables, permitan alcanzar su disponibilidad por el mayor tiempo posible.</p>
<br> <br> 
</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	

</section>