<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/barra.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
</head>
<body>
    
<div class="content">
  <div class="seccion-botones">
      <!-- Contenido principal de la página -->
      <a href="/admin/blog" class="boton-derecha">Regresar</a>
  </div>
  <br> <br> <br>
  <div class="seccion-formulario">
    <h1>Registro de Blog</h1>

    <form enctype="multipart/form-data" action="/blogs" method="POST">
     
        <label for="titulo">Título:</label>
        <input type="text" class="form-control" id="titulo" name="titulo" required>

        <label for="fecha">Fecha:</label>
        <input type="date" class="form-control" id="fecha" name="fecha" required>

        <label for="categoria">Categoría:</label>
        <!-- Cambiado a un campo de selección múltiple -->
        <select class="form-control" id="categoria" name="categoria" multiple required>
          
          <!-- Opciones adicionales -->
          <option value="paper">Paper</option>
          <option value="articulo">Artículo</option>
          <option value="analisis de caso">Análisis de Caso</option>
          <option value="parte solicitante">Parte Solicitante</option>
          <option value="parte invitada">Parte Invitada</option>
          <option value="corporativo">Corporativo</option>
          <option value="tip">Tip</option>
          <option value="leyes">Leyes</option>
          <option value="cajamarca">Cajamarca</option>
          <option value="comercial">Comercial</option>
          <option value="arbitraje">Arbitraje</option>
          <option value="arbitraje y contrataciones con el estado">Arbitraje y Contrataciones con el Estado</option>
          <option value="arbitraje y comercial">Arbitraje y Comercial</option>
          <option value="arbitraje y civil">Arbitraje y Civil</option>
          <option value="arbitraje express">Arbitraje Express</option>
          <option value="arbitraje de menor cuantia">Arbitraje de Menor Cuantía</option>
          <option value="arbitraje alta cuantia">Arbitraje Alta Cuantía</option>
          <option value="arbitraje de emergencia">Arbitraje de Emergencia</option>
          <option value="conciliación extrajudicial">Conciliación Extrajudicial</option>
          <option value="conciliación y familia">Conciliación y Familia</option>
          <option value="conciliación y comercial">Conciliación y Comercial</option>
          <option value="conciliación y civil">Conciliación y Civil</option>
          <option value="conciliación y contrataciones con el estado">Conciliación y Contrataciones con el Estado</option>
          <option value="contrataciones con el estado">Contrataciones con el Estado</option>
          <option value="civil">Civil</option>
          <option value="comercial">Comercial</option>
          <option value="familia">Familia</option>
          <!-- Agrega todas las opciones adicionales aquí -->
      </select>

        <label for="descripcion">Descripción:</label>
        <div class="form-control">
          <input type="hidden" id="x" name="descripcion">
          <trix-editor input="x"></trix-editor>
        </div>
        <!-- <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea> -->

        <label for="imagen">Imagen:</label>
        <input type="file" class="form-control-file" id="imagen" name="imagen" accept="image/*" required>

        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
</div>
</body>
</html>




